/* Page */

.page {
    background-color: var(--basic-dark);
    color: var(--basic-white);
    line-height: 1.5;
    font-family: 'TwentytwelveSansG', sans-serif;
}

.page__body {
    margin: 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}