/* Variables */

:root { 
    --basic-dark: #2F3237;
    --basic-black: #24292F; 
    --basic-light: #DDDDDD;
    --basic-white: #ffffff;
    --basic-bronze: #C79D81;
   
    --special-dark: #292B30;
    --special-light: rgba(255, 255, 255, 0.51);
    
}
